* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    /* background-color: cadetblue; */
    color: blueviolet;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px;
}

#header {
    font-size: 2rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    align-self: center;
}

#sidebar {
    grid-row: 2 / 3;
    margin: 25px;
}

#main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
}

:modal {
    border: 2px solid royalblue;
    border-radius: 5px;
    padding: 25px;
    text-align: right;
    margin: 20vh auto;
}

.card {
    background-color: white;
    color: blueviolet;
    font-size: 1.25rem;
    /* font-weight: 700; */
    border-radius: 25px;
    border: 2px solid royalblue;
    margin: 15px;
    padding: 10px;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: 700;
}

button {
    width: auto;
    padding: 10px;
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 25px;
    margin: 5px;
}

.delete {
    background-color: darkred;
}

form > div {
    padding: 5px;
    color: blueviolet;
}

form > div:first-child {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

label {
    margin-right: 25px;
}

input[type="text"],
input[type="number"] {
    font-size: 100%;
    width: 150px;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 2px solid blue;
    vertical-align: -2px;
    color: darkblue;
}

input[type="checkbox"]::before {
    content: "■";
    position: absolute;
    font-size: 1.2rem;
    right: -1.px;
    top: -0.38em;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

